.blog_item figure img {
    width: 100%;
}

.blog{
    margin-bottom: 4%;
    margin-top: 4%;
}

.blog_item .main h3 a {
    color: #606060;
    font-size: .8em;
    font-weight: 600;
    text-decoration: none;
}

.blog_item .main p {
    color: #858a99;
    line-height: 1.7em;
    margin-top: 10%;
}

figure {
    margin: 0;
}

.blog_item {
    background: #f6f7fb;
    border: 1px solid #f0f2f6;
    border-radius: 2px;
    min-height: 200px;
    margin-bottom: 30px;
}

.blog_item .main .info {
    margin-top: 10%;
}

.blog_item .main .info a {
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    color: #98a9b8;
    margin-right: 10%;
    margin-left: 2%;
    text-decoration: none;
}



@media only screen and (min-width: 1200px){
    #blog .blog_item .main {
        padding: 0;
        padding-top: 10px;
    }
}

@media (max-width: 400px){
    .blog_item .main .info a {
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        color: #98a9b8;
        margin-right: 3%;
        margin-left: 1%;
        text-decoration: none;
    }
}

